.cart{
    position: absolute;
    top:3px;
    right: 50px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    background: none;
    border: none;
    
}
.cart-svg{
    height: 100%;
    width: 100%;
}
.cart-count{
    font-size: 10px;
    position: absolute;
    top: 0px;
    left: 28px;
    min-width: 10px;
    background-color: #f00;
    padding: 3px 3px;
    border-radius: 50%;
    color: #fff;
    
}
