@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital@1&display=swap');

.items-list {
    background-color: #d4d4d4;
    box-shadow: 0px 1px 2px #333;
    list-style-type: none;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 10px;
    /* margin: 2px; */
    z-index: 100;
    width: 100%;
    box-sizing: border-box;
    height: auto;
}

.img {
    height: 120px;
    width: 20%;
    margin-right: 2%;
}

.name {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 38%;
    height: 120px;
    margin-right: 2%;
}
.description{
    overflow: hidden;
    font-size: 15px;
    display: block;
    height: 50%;
}
.cart-count {
    width: 23%;
    height: 30px;
    column-gap: 20px;
    border-radius: 5px;
    border: 1px solid #c4c4c4;
    margin-right: 5%;
}

.price {
    width: 20%;
    box-sizing: border-box;
    padding-right: 10px;
    text-align: end;
}

.cart-count button {
    border: none;
    font-size: 20px;
    height: 100%;
    width: 25%;
    background: none;
    /* background-image: linear-gradient(to bottom right,rgba(202, 0, 0, 1),rgba(255,10,10,.8) 35% 55%,rgba(202, 0, 0, 1));
    box-shadow: -1px -1px 4px #d4d4d4,1px 1px 1px #444; */
}

.cart-count button:first-child {
    float: left;
    border-right: 1px solid #c4c4c4;
}

.cart-count button:last-child {
    border-left: 1px solid #c4c4c4;
    float: right;
}

.cart-count button:hover {
    transform: translate(.5px, .5px);
}

.cart-count span {
    display: inline-block;
    height: 100%;
    width: 50%;
    padding-top: 3px;
    box-sizing: border-box;
    background-color: #e4e4e4;
    text-align: center;
    overflow: scroll;
}

.cart-count span::-webkit-scrollbar {
    display: none;
}

.name span:first-child {
    font-weight: 700;
    padding: 4px;
    font-family: 'Times New Roman', Times, serif;
}

.name span:last-child {
    box-sizing: border-box;
    padding: 0 4px;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}