 
 .body{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #d4d4d4;
    filter: blur(10%);
 }
 .title{
    -webkit-text-fill-color: #aaa;
    text-shadow: 1px 1px 2px #00aeff;
    padding-left: 25px;
 }
.header-main{
    position: fixed;
    z-index: 999;
    min-width: 600px;
    height: 3rem;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0px;
    box-sizing: border-box;
    padding: 1px;
    background-color: rgb(163, 3, 3);
    box-shadow: 1px 1px 2px #555;
}
.admin{
    position: absolute;
    left: 40%;
    transform: translate(-50%,0);
}
.admin a{
    cursor: pointer;
    border-right: 4px solid rgba(255,255,255,.5);
    padding:5px 10px;
    font-size: 20px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    transition: .2s;
}
.admin a:last-child{
    border-right: none;
}
.admin a:hover{
    color: #00aeff;
    /* background-color: rgb(102, 0, 0); */
}
