.card {
    height: 250px;
    width: 250px;
    background-color: #d4d4d4;
    position: relative;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #646464,
     -2px -2px 15px #fff;
    transition-duration: .2s;
    transition-timing-function: ease-out;
    filter:blur();
}
.card:hover {
    transform: scale(1.2);
    z-index: 1;
}

.card-img {
    height: 50%;
    width: 90%;
    border-radius: 10px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
}

.name {
    position: absolute;
    top: 118px;
    left: 10px;
    width: 50%;
    font-family: verdana;
}
.price{
    position: absolute;
    right: 0px;
    width: 40%;
    bottom: 50px;
}
.price span{
    font-weight: 600;
    -webkit-text-fill-color: red;
}
.description {
    position: absolute;
    top: 175px;
    left: 10px;
    width: 45%;
    height: 90px;
    box-sizing: border-box;
    overflow: scroll;
    text-overflow: ellipsis;
    word-break: keep-all;
    font-family: courier;
}
.description::-webkit-scrollbar{
    display: none;
}
.order{
    bottom: -1px;
    right: 0px;
    border-bottom-right-radius: 10px;
    font-weight: 600;
    border: none;
    border-left: 1px solid #aaa;
}
.addCart{
    bottom:-1px;
    left: 0;
    border-bottom-left-radius: 10px;
    font-weight: 600;
    border: none;
    border-right: 1px solid #aaa;
}
.order:hover,.addCart:hover{
    background-image: linear-gradient(to right,rgb(225, 0, 0),rgb(183, 0, 0));
    color: aliceblue;
}